body {
    background-color: rgb(24, 24, 24);
}
/* Main */
.main-grid {
    justify-content: center;
    align-content: center;
}

/* Header-Bar */
.header-bar {
    text-align: center;
    color: white;
}

/* Input */
.input-grid {
    display: block;
    text-align: center;
    padding-top: 200px;
}

.input-grid input.row {
    display: inline-block;
}

.input-row .input-content {
    background-color: grey;
    border-color: grey;
    border-left: none;
    border-right: none;
    outline: none;
    color: white;
    height: 50px;
    width: 45px;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

/* Keyboard */
.keyboard-grid {
    display: grid;
    padding-top: 300px;
}

.keyboard-grid .keyboard-row {
    text-align: center;
    padding: 2px;
}

.keyboard-row > button {
    background-color: grey;
    border: none;
    border-radius: 5px;
    color: white;
    height: 35px;
    width: auto;
    cursor: pointer;
}



